/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 1

   ACGIP Registration Validation Style Sheet
   Author: Austin Inmon
   Date:   1.15.19

   Filename: cg_validate.css

*/


/* Validation Styles */
/* For every input, select,textarea that is focused will get a background color of light green. */
input:focus,
select:focus,
textarea:focus {
    background-color: rgb(220, 255, 220);
}

/* for every id of fnBox,lnBox, mailBox, phoneBox, idBox that is focused and is valid will have a background color of light green.  */
#fnBox:focus:valid,
#lnBox:focus:valid,
#mailBox:focus:valid,
#phoneBox:focus:valid,
#idBox:focus:valid {
    background: rgb(220, 255, 220) url(cg_valid.png) right/contain no-repeat;
}

/* for every id of fnBox,lnBox, mailBox, phoneBox, idBox that is focused and is invalid will have a background color of light red. */
#fnBox:focus:invalid,
#lnBox:focus:invalid,
#mailBox:focus:invalid,
#phoneBox:focus:invalid,
#idBox:focus:invalid {
    background: rgb(255, 232, 232) url(cg_invalid.png) right/contain no-repeat;
}